@tailwind base;
@tailwind components;
@tailwind utilities;

/* Coding pattern overlay */
.bg-code-pattern {
  background-image: url("/orangebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
